<h2>Connexion</h2>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :username %>
  <%= f.input :name %>
  <%= f.input :email %>

  <%= f.input :password %>


  <%  user_types = User.user_types.map {|k| [k, User.user_types.keys[k]]} %>
  <%= f.input :user_type, as: :radio_buttons,
    collection: user_types %>



  <%=  f.input :category_id, collection: Category.all , value_method: :id, label_method: :category_type,  input_html: {class:"select2"} %>

  <%#= f.input :category_id, as: :radio_buttons,
    collection: categories,value_method: :last, label_method: categories  %>



  <%= f.button :submit %>
<% end %>

<%= render "devise/shared/links" %>
