<h2>Connexion</h2>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :username %>
  <%= f.input :name %>
  <%= f.input :email %>

  <%= f.input :password %>


  <%  user_types = User.user_types.keys.map {|k| [k,User.user_types[k]]} %>
  <%= f.input :user_type, as: :radio_buttons,
    collection: user_types, value_method: :first, label_method: :last %>




  <%# categories = Category.category_types %>
  <%=  f.input :category_id, collection: Category.category_types.keys, value_method: Category.category_types.values %>

  <%#= f.input :category_id, as: :radio_buttons,
    collection: categories,value_method: :last, label_method: categories  %>



  <%= f.button :submit %>
<% end %>

<%= render "devise/shared/links" %>
