<h2>Connexion</h2>

<%= simple_form_for @user, url: new_user_registration_path(new_user_registration_path),
  wrapper_mappings: {
    check_boxes:    :vertical_collection,
    radio_buttons:  :vertical_collection,
    file:           :custom_file,
    boolean:        :custom_boolean_switch
  } do |f| %>
  <%= f.error_notification %>

  <%= f.input :email %>

  <%= f.input :password %>



  <%= f.input :user_type, as: :radio_buttons,
    collection: ['Client', 'Membre'] %>


  <%= f.input :category_id, as: :check_boxes,
    collection: [
"GMS", "CC", "Restaurant", "Producteur" ,"Transformateur" ,"Institutionnel" ,"Consommateur"] %>



  <%= f.button :submit %>
<% end %>

<%= render "devise/shared/links" %>
